<!DOCTYPE html>

<html lang="en" ng-app="soccerApp">

<head>

    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    
    <meta name="author" content="">

    <title>Premier League</title>

    <link href="img/favicon.ico" rel=icon type=image/x-icon>

    <!-- Bootstrap Core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="lib/simple-line-icons/css/simple-line-icons.css">
    
    <link rel="stylesheet" href="lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="css/new-age.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-cloak>

    <div ng-if="location.path() !== '/'" ng-controller="navbarController as myNavbar" ng-cloak>

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    
                    <button id="menu-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    
                    </button>
                    
                     <a class="navbar-brand" data-ng-href="#/" data-target="#"><div class="headingimg"><img src="img/logo-img.png"></div><div class="league-title"><h4>Premier League</h4></div></a>
                
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                    <ul class="nav navbar-nav navbar-right">
                
                        <li>
                            <a id= "mainLink" data-ng-href="#/" data-target="#" ng-click="myNavbar.collapseNavBar()">Home</a>
                        </li>
                
                        <li>
                            <a data-ng-href="#/matches" data-target="#matches" ng-click="myNavbar.collapseNavBar()">Results</a>
                        </li>
                
                        <li>
                            <a data-ng-href="#/allclubs" data-target="#allclubs" ng-click="myNavbar.collapseNavBar()">Clubs</a>
                        </li>
                
                    </ul>
                
                </div>
                
                <!-- /.navbar-collapse -->
            </div>
            
            <!-- /.container-fluid -->
        </nav>

        <!-- Main Content -->

    </div>

    <div class="view-section" ng-view>
           
           
    </div>

    
    <div ng-if="location.path() !== '/'" ng-controller="footerController as myfooter" ng-cloak ng-show="myfooter.footerLoaded">
    
        <footer id="contact">

            <div class="container"> 

                <ul class="list-inline list-social">

                    <li class="social-twitter">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>

                    <li class="social-facebook">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>

                    <li class="social-google-plus">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>

                </ul>

                <p class="copyright">&copy; PREMIER LEAGUE 2017</p>

                <ul class="list-inline list-cond">

                    <li class="ending">
                        <a href="#">Privacy</a>
                    </li>

                    <li class="ending">
                        <a href="#">Terms</a>
                    </li>

                    <li class="ending">
                        <a href="#">FAQ</a>
                    </li>

                </ul>

            </div>

        </footer>

    </div>

    <!-- jQuery -->
    <script src="lib/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>

    <script type="text/javascript" src="angular/app.js"></script>

    <script type="text/javascript" src="angular/routes.js"></script>

</body>

</html>
